@model IEnumerable<ShoppingCartORT.Models.Pedido>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Index</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
               Id del Pedido
            </th>
            <th>
                Nombre Comprador
            </th>
            <th>
               Total Pedido
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var pedido in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => pedido.pedidoID)
            </td>
            <td>
                @Html.DisplayFor(x => pedido.usuario.nombre)

            </td>
            <td>
                @{
                    var total = pedido.ObtenerTotalPedido();
                }
                @Html.DisplayFor(x => total)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@pedido.pedidoID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
