@model IEnumerable<ShoppingCartORT.Models.Pedido>

@{
    Layout = null;
    double totalGeneral = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Index</title>
</head>
<body>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
               #
            </th>
            <th>
                Nombre Comprador
            </th>
            <th>
               Total Pedido
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var pedido in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => pedido.pedidoID)
            </td>
            <td>
                @Html.DisplayFor(x => pedido.usuario.nombre)

            </td>
            <td>
                @{
                    var total = pedido.ObtenerTotalPedido();
                    totalGeneral = totalGeneral + total;
                }
                $@Html.DisplayFor(x => total)
            </td>

            <td>
                <button type="button" class="btn btn-info">
                    <a asp-action="Details" asp-route-id="@pedido.pedidoID">Detalle</a>
                </button>
            </td>
        </tr>
}
    <tr class="table-success">
        <td>
            
        </td>
        <td>
            
            <strong>GANANCIA TOTAL</strong>
        </td>
        <td>
            @{
                <strong>$ @Html.DisplayFor(x => totalGeneral)</strong>
            }
        </td>
        <td>
       </td>
    </tr>
    </tbody>
</table>
</body>
</html>
