@model IEnumerable<ShoppingCartORT.Models.Producto>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row" style="box-shadow: 1px 11px 8px #888888;">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="img/@Url.Content(item.imagePath)" style="height:255px;width:100%;" alt="Image" />
                            <div class="card-body">
                                <p class="card-text" style="display:none;">
                                    <span>
                                        <strong>ID:</strong>
                                    </span>
                                    <span class="idProducto">@Html.DisplayFor(modelItem => item.productoID)</span>
                                </p>
                                <p class="card-text">
                                    <span>
                                        <strong>Nombre:</strong>
                                    </span>@Html.DisplayFor(modelItem => item.nombre)
                                </p>
                                <p class="card-text">
                                    <span>
                                        <strong>Descripción:</strong>
                                    </span>@Html.DisplayFor(modelItem => item.descripcion)
                                </p>
                                <p class="card-text">
                                    <span>
                                        <strong>Precio:</strong>
                                    </span>$ @Html.DisplayFor(modelItem => item.precio)
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span style="margin-left: 75px;">
                                        Cantidad:
                                    </span>
                                    <input type="number" class="text-muted valorCantidad" style="width: 50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight" style="margin-top:20px;margin-right: 0%;">
            <button type="button" class="btn btn-success" id="btnSave">
                Crear Pedido
            </button>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        $("body").on("click", "#btnSave", function () {
            //Send the JSON array to Controller using AJAX.
            var productos = $(".idProducto");
            var cantidades = $(".valorCantidad");
            var items = new Array();

            for (var i = 0; i < productos.length; i++) {
                
                if (parseInt(cantidades[i].value) > 0) {
                    var item = {
                        cantidad: parseInt(cantidades[i].value),
                        productoID: parseInt(productos[i].innerHTML)
                    };
                    
                    items.push(item);
                }
            }

            $.ajax({
                type: "POST",
                url: "/Pedido/Create",
                cache: false,
                data: JSON.stringify(items),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert("El pedido fue generado exitosamente!");
                }
            });
        })
    </script>
